.footer {
  background: #6895D2;
  color: #000;
  padding: 40px 20px 20px;
  margin-top: 0px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 60px;
  margin-bottom: 10px;
}

.footer h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.footer-links h4,
.footer-contact h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  color: #000;
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  color: #000;
  margin: 5px 0;
}

.footer-links ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #D04848;
}

.footer-contact p {
  color: #000;
  font-size: 14px;
  margin: 5px 0;
}

.footer-contact p a {
  color: #FDE767;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #333;
  padding-top: 15px;
}
