body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #F3B95F;
}

header {
  background: #4f46e5;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
}

/* Profil Header */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 75px;
  margin-right: 75px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.profile-info {
  flex: 1;
}

.profile-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.profile-info p {
  margin: 5px 0;
  font-size: 16px;
}

.profile-info a {
  text-decoration: none;
  font-weight: bold;
  color: #4f46e5;
}

.profile-logo img {
  width: 250px;
  aspect-ratio: 19/6;
  object-fit: cover;
  border-radius: 8px;
  background-color: black;
}

/* Card Section */
.block{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.card-block {
  background: #D04848;
  color: #FDE767;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card-block h2 {
  margin-bottom: 10px;
}

/* === KNOW ME WELL === */
.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-card {
  background: #6895D2;
  color: #FDE767;
  border-radius: 20px;
  padding: 25px 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.social-card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.social-links a img {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links a:hover img {
  transform: scale(1.15);
  filter: brightness(1.2);
}

/* === Responsive Profile Layout === */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 20px;
  }

  /* Bungkus foto dan info sejajar di baris atas */
  .profile-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 400px;
  }

  .profile-photo img {
    width: 155px;
    height: 155px;
    border-radius: 15px;
  }

  .profile-info {
    margin-left:10px;
    text-align: left;
    margin-bottom: 18px;
  }

  .profile-info h1 {
    font-size: 37px;
    margin-bottom: 5px;
    line-height: 1.0;
  }

  .profile-info p {
    font-size: 14px;
    margin: 8px 0;
  }

  /* Logo di bawah semuanya */
  .profile-logo {
    display: none;
  }

  .profile-logo img {
    display: none;
  }
  
  .social-card {
    padding: 20px 15px;
  }

  .social-card h3 {
    font-size: 20px;
  }

  .social-links a img {
    width: 40px;
    height: 40px;
  }
}
