body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #F3B95F;
}

header {
  background: #4f46e5;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
}

.content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .name-box {
      background: #D04848;
      color: white;
      padding: 30px;
      border-radius: 25px;
      text-align: center;
      width: 80%;
      max-width: 400px;
      font-size: 1.2rem;
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .quote-box {
      background: #D04848;
      color: white;
      padding: 30px;
      border-radius: 25px;
      text-align: center;
      width: 80%;
      max-width: 900px;
      font-size: 1.2rem;
      min-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .fade-in-up {
      animation: fadeInUp 1s forwards;
    }

    .fade-in-down {
      animation: fadeInDown 1s forwards;
    }


    @keyframes fadeInUp {
      from { opacity: 0; transform: translateY(30px); }
      to { opacity: 1; transform: translateY(0); }
    }
    @keyframes fadeInDown {
      from { opacity: 0; transform: translateY(-30px); }
      to { opacity: 1; transform: translateY(0); }
    }
    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }